#Dark .loginContainer {
    border: 1px solid #3F6844;
    background-color: #203b24;;
    position: absolute;
    width: 150px;
    height: 140px;
    top: 80px;
    right: 89px;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Light .loginContainer {
    border: 1px solid #3F6844;
    background-color: #5DAA68;
    position: absolute;
    width: 150px;
    height: 140px;
    top: 80px;
    right: 89px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginContainer button {
    width: 80%;
    height: 30px;
    margin: 8px;
    margin-bottom: 3px;
    background-color: #FAF1CF;
    border-radius: 10%;
    cursor: pointer;
}