#Dark .newRecipeForm {
    width: 80%;
    height: 100%;
    min-width: 400px;
    min-height: 975px;
    border: 2px solid aliceblue;
    background-color: #181818;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #3F6844;
    margin-bottom: 100px;
}
#Light .newRecipeForm {
    width: 80%;
    height: 100%;
    min-width: 400px;
    min-height: 975px;
    border: 2px solid black;
    background-color: rgb(209, 215, 219);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #5DAA68;
    margin-bottom: 100px;

}
#Light .progressBar {
    width: 100%;
    height: 75px;
    border-bottom: 2px solid black;
}
#Dark .progressBar {
    width: 100%;
    height: 75px;
    border-bottom: 2px solid aliceblue;
}
#Light .formBody {
    width: 100%;
    height: 100%;
    min-height: 800px;
    border-bottom: 2px solid black;
}
#Dark .formBody {
    width: 100%;
    height: 100%;
    min-height: 800px;
    border-bottom: 2px solid aliceblue;
}
.formFooter {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formBtn {
    position: relative;
    width: 100px;
    height: 35px;
    margin: 10px;
    border-radius: 0%;
}
.formBtn:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: '>>>';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FAF1CF;
    transition: all .35s;
    opacity: 0;
}
.formBtn:hover::after {
    width: 100%;
    opacity: 1;
}
.formBtn2 {
    position: relative;
    width: 100px;
    height: 35px;
    margin: 10px;
    border-radius: 0%;
}
.formBtn2:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: '<<<';
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #FAF1CF;
    transition: all .35s;
    opacity: 0;
}
.formBtn2:hover::after {
    width: 100%;
    opacity: 1;
}
.titleHolder {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Light .formTitle {
    height: 100px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Dark .formTitle {
    height: 100px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nameInput {
    width: 300px;
    height: 20px;
    margin-top: 80px;
}
.nameInputHolder {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.methodHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 50px;
}
.methodHolder textarea {
    width: 400px;
    height: 100px;
    resize: none;
    margin: 10px;
}
.allergyListHolder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkHolder {
    margin-right: -32.5px;
    margin-left: 32.5px;
    width: 20%;
}
.ingredientsInputHolder select {
    width: 45%;
    height: 40px;
    margin: 25px;
    text-align: center;
}
.addNewIngredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 150px;
    width: 66%;
    border: 1px solid black;
}
.addNewIngredient input {
    width: 45%;
}
.addNewIngredient button {
    margin-top: 20px;
    height: 30px;
}