#Dark .newRecipeForm {
    width: 80%;
    height: 100%;
    min-width: 400px;
    min-height: 975px;
    border: 2px solid aliceblue;
    background-color: #181818;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #3F6844;
    margin-bottom: 100px;
}
#Light .newRecipeForm {
    width: 80%;
    height: 100%;
    min-width: 400px;
    min-height: 975px;
    border: 2px solid black;
    background-color: rgb(209, 215, 219);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #5DAA68;
    margin-bottom: 100px;

}

.progressBarHolder {
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
.nameValidation {
    display: flex;
    width: 100%;
}
.formX {
    margin-right: 15px;
    font-size: 17px;
    color: red;
}
.progBar {
    height: 15px;
    width: 95%;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
#innerBar {
    height: 15px;
    transition: 0.3s;
    width: 0%;
    background: linear-gradient(#5DAA68, #3F6844);
}
.twentyFive {
    width: 25%;
}

#Light .formBody {
    width: 100%;
    height: 100%;
    min-height: 800px;
    border-bottom: 2px solid black;
}
#Dark .formBody {
    width: 100%;
    height: 100%;
    min-height: 800px;
    border-bottom: 2px solid aliceblue;
}
.formFooter {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formBtn {
    position: relative;
    width: 100px;
    height: 35px;
    margin: 10px;
    border-radius: 0%;
}
.formBtn:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: '>>>';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FAF1CF;
    transition: all .35s;
    opacity: 0;
}
.formBtn:hover::after {
    width: 100%;
    opacity: 1;
}
.formBtn2 {
    position: relative;
    width: 100px;
    height: 35px;
    margin: 10px;
    border-radius: 0%;
}
.formBtn2:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: '<<<';
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #FAF1CF;
    transition: all .35s;
    opacity: 0;
}
.formBtn2:hover::after {
    width: 100%;
    opacity: 1;
}
.titleHolder {
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Light .formTitle {
    height: 100px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Dark .formTitle {
    height: 100px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nameInput {
    width: 70%;
    height: 50px;
    margin-top: 50px;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}
.nameInputHolder {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#Light .formGuidelines {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 250px;
    border: 2px solid #3F6844;
    background-color: #5DAA68;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

}
#Dark .formGuidelines {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 250px;
    border: 2px solid #5DAA68;
    background-color: #3F6844;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: aliceblue;
}
.formGuidelines li {
    width: 75%;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 50px;
}

.methodHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 50px;
}
.methodHolder textarea {
    width: 400px;
    height: 100px;
    resize: none;
    margin: 10px;
}
#Light .allergyListHolder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    color: black;
}
#Dark .allergyListHolder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    color: aliceblue;
}
.checkHolder {
    margin-right: -32.5px;
    margin-left: 32.5px;
    width: 20%;
}
.ingredientsInputHolder select {
    width: 60%;
    height: 40px;
    margin: 25px;
    text-align: center;
}
.quantityInput {
    width: 30%;
    height: 33px;
    text-align: center;
}

#Light .addNewIngredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 150px;
    width: 66%;
    border: 2px solid #3F6844;
    background-color: #5DAA68;
}
#Dark .addNewIngredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 150px;
    width: 66%;
    color:#FAF1CF;
    border: 2px solid #5DAA68;
    background-color: #3F6844;
}
.addNewIngredient input {
    width: 45%;
    text-align: center;
}
.addNewIngredient button {
    margin-top: 20px;
    height: 30px;
}
.successDiv {
    display: flex;
    position: relative;
}
.successDiv img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    left: -35px;
}
.formWarnings {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}
.submitHolder {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.submitHolder button {
    height: 50px;
    width: 66%;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 450px) {

#Light .formGuidelines {
    width: 90%;
    height: 300px;
    text-align: center;
}
#Light .formGuidelines ul {
    margin-left: -20px;
}
#Dark .formGuidelines {
    width: 90%;
    height: 100%;
    text-align: center;
}
#Dark .formGuidelines ul {
    margin-left: -20px;
}
.ingredientsInputHolder select {
    width: 90%;
    height: 40px;
    margin: 25px;
    text-align: center;
}
.quantityInput {
    width: 80%;
    height: 33px;
    margin-left: 40px;
    text-align: center;
    margin-top: -10px;

}
.ingredientsInputHolder div {
    padding-bottom: 15px;
    border-bottom: 2px solid grey;
}
#Light .addNewIngredient {
    height: 100%;
    min-height: 200px;
    width: 90%;
}
#Dark .addNewIngredient {
    height: 100%;
    min-height: 200px;
    width: 90%;
}
.addNewIngredient h4 {
    text-align: center;
}
.addNewIngredient input {
    width: 75%;
}
.formTitle {
    text-align: center;
}
.checkHolder {
    width: 100%;
    margin-left: 200px
}
.submitHolder button {
    height: 100px;
}
}