#Dark .footerBox {
    width: 100%;
    height: 100px;
    background-color: #3F6844;
    margin: 0;
    padding: 0;
    display: flex;
}
#Light .footerBox {
    width: 100%;
    height: 100px;
    background-color: #5DAA68;
    margin: 0;
    padding: 0;
    display: flex;
}
.footerDetails {
    width: 50%;
    display: flex;
    position: relative;
    font-size: 12px;
}
.attri {
    position: absolute;
    left: 5px;
    top: 25px;
    width: 10%;
}
.attriList {
    position: absolute;
    left: 75px;
    text-decoration: none;
}
.attriList p {
    text-decoration: none;
    color: black;
    
}

.githubLink {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 50%;
}
.githubLink p {
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 5%;
    text-decoration: none;
    padding-right: 80px;
    z-index: 999;
}

.githubLink p:hover {
    opacity: 1;
    color: black;
}
#Dark .githubLink p:hover {
    opacity: 1;
    color: #FAF1CF
}
.githubLink img {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 25%;
}
