#Light .memberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
#Dark .memberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #121212;
}
#Light .recipesTitle {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
#Dark .recipesTitle {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: aliceblue;
}
#Light .welcomeBox {
    display: flex;
    width: 100%;
    background-color: aliceblue;
    justify-content: space-between;
}
#Dark .welcomeBox {
    display: flex;
    width: 100%;
    background-color: #121212;
    justify-content: space-between;
}
#Light .welcomeBox h1 {
    margin: 15px;
    letter-spacing: 2px;
    color:#5DAA68;
    text-shadow: 1px 1px #FAF1CF;
}
#Dark .welcomeBox h1 {
    color: #FAF1CF;
    letter-spacing: 2px;
    margin: 15px;
    text-shadow: 1px 1px #5DAA68;

}
#Light .welcomeBox button {
    margin: 15px;
    width: 95px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #FAF1CF;
    border: 2px solid #3F6844;
}
#Dark .welcomeBox button {
    margin: 15px;
    width: 95px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #FAF1CF;
    border: 2px solid #5DAA68 ;
}

.recipeBuildBox {
    margin-top: 45px;
    width: 100%;
    height: 100%;
    min-height: 400px;
}
#Light .recipeBuildBox h3 {
    display: flex;
    color: #FAF1CF;
    text-shadow: 2px 2px #3F6844;
    border: 2px solid #3F6844;
    background-color: #5DAA68;
    height: 60px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#Dark .recipeBuildBox h3 {
    display: flex;
    color: aliceblue;
    text-shadow: 1px 1px #5DAA68;
    border: 2px solid #5DAA68;
    background-color: #3F6844;
    height: 60px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#Light .prevRecipeTitles {
    margin-left: 20px;
    display: grid;
    width: 59%;
    height: 50px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}
#Dark .prevRecipeTitles {
    margin-left: 20px;
    display: grid;
    width: 59%;
    color: aliceblue;
    height: 50px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

#Light .statisticsBox {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    min-height: 500px;
    background-color: aliceblue;
}
#Dark .statisticsBox {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    min-height: 500px;
    background-color: #121212;
}
.previousRecipesBox {
    height: 100%;
    width: 70%;
}
#Light .likeStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 25%;
    border: 2px solid #3F6844;
    background-color: #5DAA68;
    text-shadow: 2px 2px #203b24;
    color: #FAF1CF;
    border-radius: 3%;
}
#Dark .likeStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 25%;
    border: 2px solid #5DAA68;
    background-color: #3F6844;
    text-shadow: 2px 2px #203b24;
    color: #FAF1CF;
    border-radius: 3%;
}
.likeStats img {
    height: 40px;
    width: 40px;
    border: 1px solid #FAF1CF;
    background-color: #696969;
    padding: 10px;
    margin-top: 10px;
    border-radius: 50%;
}
.likeNum {
    font-size: 50px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.likeDivider {
    width: 75%;
    opacity: 50%;
    height: 1px;
    color: #3F6844;
    background-color:#3F6844;
}
#Dark .likeDivider {
    width: 75%;
    opacity: 50%;
    height: 1px;
    color: #5DAA68;
    background-color:#5DAA68;
}
#Light .prevRecipe {
    width: 100%;
    height: 60px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    border: 1px dotted #5DAA68;
    align-items: center;
    
}
#Dark .prevRecipe {
    width: 100%;
    height: 60px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    border: 1px dotted #FAF1CF;
    align-items: center;
    color: aliceblue
}
.prevRecipe p {
    font-size: 18px;
}
.pleft {
    margin-left: 15px;
}
.deleteText {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5%;
    cursor: pointer;
} 
#Dark .deleteText {
    color: white;
    background-color: rgb(8, 20, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5%;
    cursor: pointer;
} 
#Dark .deleteText:hover {
    background-color: rgb(25, 61, 37);
} 

#Light .deletePopup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #000000;
    background-color: #5DAA68;
    height: 125px;
    width: 75%;
    margin-left:auto;
    margin-right: auto;
    position: relative;
}
#Dark .deletePopup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #000000;
    background-color: #3F6844;
    height: 125px;
    width: 75%;
    margin-left:auto;
    margin-right: auto;
    position: relative;
}
.leftPopup {
    font-size: 21px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px rgb(5, 0, 0);
}
.rightPopup button {
    width: 60px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    cursor: pointer;
    color: white;
    font-weight: bold;

}
.deleteButton {
    background-color: #f00e0e;
    position: absolute;
    right: 0;
    bottom: 1px;
}
.deleteButton:hover {
    background-color: #5e0909;
}
.cancelButton {
    background-color: rgb(150, 150, 150);
    position: absolute;
    bottom: 1px;
    right: 70px;
}
.cancelButton:hover {
    background-color: rgb(70, 70, 70);
}
#Light .noRecipeText {
    display: flex;
    justify-content: center;
    margin-right: 15%;
    font-size: 30px;
}
#Dark .noRecipeText {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-right: 15%;
    font-size: 30px;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    #Dark .statisticsBox {
        flex-direction: column;
    }
    #Light .statisticsBox {
        flex-direction: column;
    }
    #Light .prevRecipe {
        width: 135%;
        height: 80px;
    }
    #Dark .prevRecipe {
        width: 135%;
        height: 80px;
    }
    #Light .prevRecipeTitles {
        width: 80%;
        margin-left: 0px;
    }
    #Dark .prevRecipeTitles {
        width: 80%;
        margin-left: 0px;
    }
    .deleteText {
        height: 60px;
    }
    #Light .likeStats {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #Dark .likeStats {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #Light .deletePopup {
        width: 350px;
        margin-left: 25px;
    }
    #Dark .deletePopup {
        width: 350px;
        margin-left: 25px;
    }
    .leftPopup {
        font-size: 13px;
    }
    #Light .recipeBuildBox h3 {
        width: 100%;
    }
    #Dark .recipeBuildBox h3 {
        width: 100%;
    }
    #Light .formGuidelines {
        width: 90%;
        height: 300px;
        text-align: center;
    }
    #Light .formGuidelines ul {
        margin-left: -20px;
    }
    #Dark .formGuidelines {
        width: 90%;
        height: 100%;
        text-align: center;
    }
    #Dark .formGuidelines ul {
        margin-left: -20px;
    }
}